.idea
/server/build
/server/.idea
/server/.vscode
/client/build
/client/.idea
/client/.vscode
/Debug/
/Caro.v*
/Server/Debug/
/Client/Debug/
/Server/Release/*
/Client/Release/*
/Release/*
/Caro.sdf
/Caro.opensdf
/.vs